[submodule "GVHMR"]
	path = GVHMR
	url = https://github.com/KB-JiaHeng/GVHMR.git
	branch = feat/object_detection
[submodule "GMR"]
	path = GMR
	url = git@github.com:KB-JiaHeng/GMR.git
	branch = feat/transform_to_hdmi
[submodule "hand_object_detector"]
	path = hand_object_detector
	url = https://github.com/ddshan/hand_object_detector.git
